<%- include('../partials/header.ejs') %>
<%- include('../partials/navbarUser.ejs') %>
<div class="container">
    <hr>
    <div class="card">
        <div class="card-header">
            <h2>Importar Deck</h2>
        </div>
    </div>
    <hr>
    <div class="card">
        <h5>Envie um arquivo csv, separado por ponto e vírgula (;), sem cabeçalh, contendo os seguintes campos:</h5>
        <h5> - Nome do deck ; Arquétipo ; Formato</h5>
        <div class="card-body">
            <form action="/import/deck" method="post" onsubmit="return validate(event,this)" enctype="multipart/form-data">
                <input type="file" name="files" class="btn btn-primary" id="file" multiple>
                <button class="btn btn-primary" type="submit" style="border-radius: 4px;">Upload</button>
            </form>
            <br>
            <div class="alert alert-warning alert-dismissible fade show" role="alert" id="alert" style='display:none'>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
</div>

<%- include('../partials/footer.ejs') %>
<script>
    function validate(event,form){
        event.preventDefault();

        var txtErro = "Nenhum arquivo selecionado";
        var arquivo = $("#file").val();

        if(arquivo == ""){
            document.getElementById('alert').style = 'display:';
            document.getElementById('alert').innerHTML = txtErro;
        } else {
            document.getElementById('alert').style = 'display:none';
            form.submit()
        }
    }
</script>

