<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a href="/home" class="navbar-brand">
        Home
    </a>
    <!--a href="/login" class="navbar-brand">
        Login
    </a-->

    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/perfil">Perfil</a>
        </li>
    </ul>

    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/torneios/old">Meus Torneios</a>
        </li>
    </ul>

    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/decks">Meus Decks</a>
        </li>
    </ul>

    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/importDeck">Importar Deck</a>
        </li>
    </ul>

    <a href="/logout" class="navbar-brand">
        Logout
    </a>

</nav>