<%- include('partials/header.ejs') %>
<%- include('partials/navbar.ejs') %>
<div class="container">
    <h1>Controle de Torneios de Magic da Casa Mint</h1>
</div>
<%- include('partials/footer.ejs') %>