<%- include('../partials/header.ejs') %>
<%- include('../partials/navbarLogin.ejs') %>
<div class="container">
    <hr>
    <div class="card">
        <div class="card-header">
            <h1>Controle de Torneios de Magic da Casa Mint</h1>            
        </div>
        <div class="card-body">
            <div><h2>Login</h2><br></div>
            
            <form method="post" action="/authenticate">
                <input class="form-control" type="text" required name="email" placeholder="login@email.com"><br> 
                <input class="form-control" type="password" required name="password" placeholder="Senha"><br> 
                
                <button class="btn btn-success btm-block">Login</button><br><br>
                <a href="/NewJogador">Não tenho Cadastro</a>
            </form>
            
        </div>
    </div>
</div>
<%- include('../partials/footer.ejs') %>
<%- include('../partials/scripts.ejs') %>