<%- include('../partials/header.ejs') %>
<%- include('../partials/navbar.ejs') %>
<div class="container">
    <h1>Cadastros Básicos</h1>
    <hr>
    <br><br><br>

    <div class="container">
        <div class="row">
            <div class="col-sm">
                <strong>Formatos</strong>
                <p></p>
                <div>
                    <a href="/formatos" class="btn btn-primary">formatos</a>
                </div>
            </div>
            <div class="col-sm">
                <strong>Tipo de Torneio</strong>
                <p></p>
                <div>
                    <a href="/tipoTorneios" class="btn btn-primary">Tipo de Torneio</a>
                </div>
            </div>
            <div class="col-sm">
                <strong>Arquétipos</strong>
                <p></p>
                <div>
                    <a href="/arquetipos" class="btn btn-primary">Arquétipos</a>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('../partials/footer.ejs') %>