<%- include('../partials/header.ejs') %>
<%- include('../partials/navbarLogin.ejs') %>
<div class="container">
    <hr>
    <div class="card">
        <div class="card-header">
            <h2>Novo Jogador</h2>
        </div>
        <div class="card-body">
            <form method="post" action="/jogadores/newSave" onsubmit="return validate(event,this)">
                <input class="form-control" type="text" required name="nome" placeholder="Nome"><br> 
                <input class="form-control" type="email" required name="email" placeholder="E-mail"><br> 
                <input class="form-control" type="text" name="nick" placeholder="Nick"><br> 
                <input class="form-control" type="date" name="dtNascimento" placeholder="Data de Nascimento"><br> 
                <input class="form-control" type="password" required name="password" placeholder="Senha"><br> 
                <input class="form-control" type="password" required name="password2" placeholder="Repetir Senha"><br> 
                <button class="btn btn-success">Cadastrar</button> <a href="/login" class="btn btn-success">Voltar</a>
            </form>
            <br>
            <div class="alert alert-warning alert-dismissible fade show" role="alert" id="alert" style='display:none'>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>            
        </div>
    </div>
</div>
<%- include('../partials/footer.ejs') %>
<script>
    async function validate(event,form){
        event.preventDefault();

        var nome = document.getElementsByName("nome")[0].value
        var email = document.getElementsByName("email")[0].value
        var password = document.getElementsByName("password")[0].value;
        var password2 = document.getElementsByName("password2")[0].value;

        var url = 'http://localhost:3000/ValidaCriacaoUser';

        try{
            var err = await axios.post(url,{nome:nome,email:email,password:password,password2:password2});

            if(err.data.err != undefined){
                document.getElementById('alert').style = 'display:';
                document.getElementById('alert').innerHTML = err.data.err;

            } else {
                document.getElementById('alert').style = 'display:none';
                form.submit();
            }
        } catch(e){
            console.log(e);
        }
    }
</script>
